body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    background-color: rgb(208, 221, 69);
    padding: 10px;
    height: 20px;
    border-radius: 50px;
    border-width: 50px;
    border-color: black;
}

#chat {
    background: rgb(225, 145, 145);
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    border-radius: 10px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
    cursor: pointer;
}